
/* colors */
:root {
	--bgcolor: 47, 54, 61;
  --selectedtabcolor: 36, 41, 46;
  --selectedurlbarcolor: 56, 64, 71;
  --urlbartextcolor: 225, 228, 232;
  --bordercolor: 214, 93, 14;
  --accentcolor: 138, 73, 61;
  --accentcolor2: 189, 99, 83;

	--private-bgcolor: 56, 47, 61;
  --private-selectedtabcolor: 42, 36, 46;
  --private-selectedurlbarcolor: 66, 56, 71;
  --private-urlbartextcolor: 229, 225, 232;
  --private-bordercolor: 154, 14, 214;
  --private-accentcolor: 212, 105, 239;
  --private-accentcolor2: 168, 83, 189;
}

:root{
  /*-Bg colors-*/
  --lwt-accent-color: rgb(var(--bgcolor)) !important;
  --toolbar-bgcolor: rgb(var(--bgcolor)) !important;

	/* Nav Bar */
	--button-hover-bgcolor: rgba(var(--accentcolor),0.2) !important;
	--arrowpanel-background: rgb(var(--selectedurlbarcolor)) !important;
	--arrowpanel-border-color: rgba(var(--bordercolor),0) !important;
	--button-bgcolor: rgb(var(--selectedtabcolor)) !important;
	--zoom-controls-bgcolor: rgb(var(--selectedtabcolor)) !important;
	--button-active-bgcolor: rgba(var(--accentcolor),0.5) !important;

  /*-Tabs-*/

  /*-Url Bar color-*/
  /* Bg Unfocused */ --lwt-toolbar-field-background-color: rgb(var(--selectedtabcolor)) !important;
  /* Bg focused */ --lwt-toolbar-field-focus: rgb(var(--selectedurlbarcolor)) !important;
  /* Text Color */ --lwt-toolbar-field-color: rgb(var(--urlbartextcolor)) !important;
  /* Focus Outline Color */ --focus-outline-color: rgb(var(--accentcolor)) !important;
  /* Popup Url Color */ --lwt-popup-brighttext-url-color: rgb(var(--accentcolor)) !important;
	--autocomplete-popup-highlight-background: rgb(var(--selectedtabcolor)) !important;
}

/* Gradient */
:root{ --panel-separator-zap-gradient: linear-gradient(90deg,rgb(var(--accentcolor)),rgb(var(--urlbartextcolor))) !important }

tab[selected="true"] .tab-content {
	color: rgb(var(--accentcolor)) !important;
}

.tab-content {
	color: rgb(var(--accentcolor2)) !important;
}

tab[selected="true"] .tab-background {
	background: rgb(var(--selectedtabcolor)) !important;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
  background-color: rgba(var(--accentcolor),0.3) !important;
}

#tabs-newtab-button:active .toolbarbutton-icon {
  background-color: rgba(var(--accentcolor),0.9) !important;
}

.bookmark-item:hover > .toolbarbutton-icon
{
	background-color: rgba(var(--accentcolor),0.2) !important;
}

.bookmark-item:active > .toolbarbutton-icon
{
	background-color: rgba(var(--accentcolor),0.6) !important;
}

.bookmark-item:hover > .toolbarbutton-text {
	color: rgba(var(--accentcolor,0.7)) !important;
}

.bookmark-item:active > .toolbarbutton-text {
	color: rgba(var(--accentcolor,1)) !important;
}
.tab-content {
	transition: color 0.3s ease !important;
}
.tab-content:hover {
	color: rgba(var(--accentcolor),0.9) !important;
}

/*---Private Browsing Colors---*/
:root[privatebrowsingmode=temporary] {
  /*-Bg colors-*/
	--lwt-accent-color: rgb(var(--private-bgcolor)) !important;
  --toolbar-bgcolor: rgb(var(--private-bgcolor)) !important;

	/* Nav Bar */
	--button-hover-bgcolor: rgba(var(--private-accentcolor),0.2) !important;
	--arrowpanel-background: rgb(var(--private-selectedurlbarcolor)) !important;
	--arrowpanel-border-color: rgba(var(--private-bordercolor),0) !important;
	--button-bgcolor: rgb(var(--private-selectedtabcolor)) !important;
	--zoom-controls-bgcolor: rgb(var(--private-selectedtabcolor)) !important;
	--button-active-bgcolor: rgba(var(--private-accentcolor),0.5) !important;

  /*-Tabs-*/


  /*-Url Bar color-*/
  /* Bg Unfocused */ --lwt-toolbar-field-background-color: rgb(var(--private-selectedtabcolor)) !important;
  /* Bg focused */ --lwt-toolbar-field-focus: rgb(var(--private-selectedurlbarcolor)) !important;
  /* Text Color */ --lwt-toolbar-field-color: rgb(var(--private-urlbartextcolor)) !important;
  /* Focus Outline Color */ --focus-outline-color: rgb(var(--private-accentcolor)) !important;
  /* Popup Url Color */ --lwt-popup-brighttext-url-color: rgb(var(--private-urlbarurlcolor)) !important;
	--autocomplete-popup-highlight-background: rgb(var(--private-selectedtabcolor)) !important;
}

/* Gradient */
:root[privatebrowsingmode=temporary]{ --panel-separator-zap-gradient: linear-gradient(90deg,rgb(var(--private-accentcolor)),rgb(var(--private-urlbartextcolor))) !important }

#main-window[privatebrowsingmode="temporary"] tab[selected="true"] .tab-content {
	color: rgb(var(--private-accentcolor)) !important;
}

#main-window[privatebrowsingmode="temporary"] .tab-content {
	color: rgb(var(--private-accentcolor2)) !important;
}

#main-window[privatebrowsingmode="temporary"] tab[selected="true"] .tab-background {
	background: rgb(var(--private-selectedtabcolor)) !important;
}

#main-window[privatebrowsingmode="temporary"] #tabs-newtab-button:hover .toolbarbutton-icon {
  background-color: rgba(var(--private-accentcolor),0.3) !important;
}

#main-window[privatebrowsingmode="temporary"] #tabs-newtab-button:active .toolbarbutton-icon {
  background-color: rgba(var(--private-accentcolor),0.9) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:hover > .toolbarbutton-icon
{
	background-color: rgba(var(--private-accentcolor),0.2) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:active > .toolbarbutton-icon
{
	background-color: rgba(var(--private-accentcolor),0.6) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:hover > .toolbarbutton-text {
	color: rgba(var(--private-accentcolor,0.7)) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:active > .toolbarbutton-text {
	color: rgba(var(--private-accentcolor,1)) !important;
}
#main-window[privatebrowsingmode="temporary"].tab-content {
	transition: color 0.3s ease !important;
}
#main-window[privatebrowsingmode="temporary"].tab-content:hover {
	color: rgba(var(--accentcolor),0.9) !important;
}
