
/* colors */
:root {
	--bgcolor: 253, 246, 227;
  --selectedtabcolor: 238, 232, 213;
  --selectedurlbarcolor: 212, 207, 193;
  --urlbartextcolor: 7, 54, 66;
  --bordercolor: 214, 93, 14;
  --accentcolor: 203, 75, 22;
  --accentcolor2: 51, 19, 6;

	--private-bgcolor: 241, 227, 253;
  --private-selectedtabcolor: 229, 213, 238;
  --private-selectedurlbarcolor: 206, 193, 212;
  --private-urlbartextcolor: 49, 7, 66;
  --private-bordercolor: 164, 14, 214;
  --private-accentcolor: 158, 22, 203;
  --private-accentcolor2: 43, 6, 51;
}

:root{
  /*-Bg colors-*/
  --lwt-accent-color: rgb(var(--bgcolor)) !important;
  --toolbar-bgcolor: rgb(var(--bgcolor)) !important;

	/* Nav Bar */
	--button-hover-bgcolor: rgba(var(--accentcolor),0.2) !important;
	--arrowpanel-background: rgb(var(--selectedurlbarcolor)) !important;
	--arrowpanel-border-color: rgba(var(--bordercolor),0) !important;
	--button-bgcolor: rgb(var(--selectedtabcolor)) !important;
	--zoom-controls-bgcolor: rgb(var(--selectedtabcolor)) !important;
	--button-active-bgcolor: rgba(var(--accentcolor),0.5) !important;

  /*-Tabs-*/

  /*-Url Bar color-*/
  /* Bg Unfocused */ --lwt-toolbar-field-background-color: rgb(var(--selectedtabcolor)) !important;
  /* Bg focused */ --lwt-toolbar-field-focus: rgb(var(--selectedurlbarcolor)) !important;
  /* Text Color */ --lwt-toolbar-field-color: rgb(var(--urlbartextcolor)) !important;
  /* Focus Outline Color */ --focus-outline-color: rgb(var(--accentcolor)) !important;
  /* Popup Url Color */ --lwt-popup-brighttext-url-color: rgb(var(--selectedtabcolor)) !important;
	--autocomplete-popup-highlight-background: rgb(var(--selectedtabcolor)) !important;
}

/* Gradient */
:root{ --panel-separator-zap-gradient: linear-gradient(90deg,rgb(var(--accentcolor)),rgb(var(--urlbartextcolor))) !important }

tab[selected="true"] .tab-content {
	color: rgb(var(--accentcolor)) !important;
}

.tab-content {
	color: rgb(var(--accentcolor2)) !important;
}

tab[selected="true"] .tab-background {
	background: rgb(var(--selectedtabcolor)) !important;
}

#tabs-newtab-button:hover .toolbarbutton-icon {
  background-color: rgba(var(--accentcolor),0.3) !important;
}

#tabs-newtab-button:active .toolbarbutton-icon {
  background-color: rgba(var(--accentcolor),0.9) !important;
}

.bookmark-item:hover > .toolbarbutton-icon
{
	background-color: rgba(var(--accentcolor),0.2) !important;
}

.bookmark-item:active > .toolbarbutton-icon
{
	background-color: rgba(var(--accentcolor),0.6) !important;
}

.bookmark-item:hover > .toolbarbutton-text {
	color: rgba(var(--accentcolor,0.7)) !important;
}

.bookmark-item:active > .toolbarbutton-text {
	color: rgba(var(--accentcolor,1)) !important;
}

.tab-content {
	transition: color 0.3s ease !important;
}
.tab-content:hover {
	color: rgba(var(--accentcolor),0.9) !important;
}

/*---Private Browsing Colors---*/
:root[privatebrowsingmode=temporary] {
  /*-Bg colors-*/
	--lwt-accent-color: rgb(var(--private-bgcolor)) !important;
  --toolbar-bgcolor: rgb(var(--private-bgcolor)) !important;

	/* Nav Bar */
	--button-hover-bgcolor: rgba(var(--private-accentcolor),0.2) !important;
	--arrowpanel-background: rgb(var(--private-selectedurlbarcolor)) !important;
	--arrowpanel-border-color: rgba(var(--private-bordercolor),0) !important;
	--button-bgcolor: rgb(var(--private-selectedtabcolor)) !important;
	--zoom-controls-bgcolor: rgb(var(--private-selectedtabcolor)) !important;
	--button-active-bgcolor: rgba(var(--private-accentcolor),0.5) !important;

  /*-Tabs-*/


  /*-Url Bar color-*/
  /* Bg Unfocused */ --lwt-toolbar-field-background-color: rgb(var(--private-selectedtabcolor)) !important;
  /* Bg focused */ --lwt-toolbar-field-focus: rgb(var(--private-selectedurlbarcolor)) !important;
  /* Text Color */ --lwt-toolbar-field-color: rgb(var(--private-urlbartextcolor)) !important;
  /* Focus Outline Color */ --focus-outline-color: rgb(var(--private-accentcolor)) !important;
  /* Popup Url Color */ --lwt-popup-brighttext-url-color: rgb(var(--private-selectedtabcolor)) !important;
	--autocomplete-popup-highlight-background: rgb(var(--private-selectedtabcolor)) !important;
}

/* Gradient */
:root[privatebrowsingmode=temporary]{ --panel-separator-zap-gradient: linear-gradient(90deg,rgb(var(--private-accentcolor)),rgb(var(--private-urlbartextcolor))) !important }

#main-window[privatebrowsingmode="temporary"] tab[selected="true"] .tab-content {
	color: rgb(var(--private-accentcolor)) !important;
}

.tab-content {
	color: rgb(var(--private-accentcolor2)) !important;
}

#main-window[privatebrowsingmode="temporary"] tab[selected="true"] .tab-background {
	background: rgb(var(--private-selectedtabcolor)) !important;
}

#main-window[privatebrowsingmode="temporary"] #tabs-newtab-button:hover .toolbarbutton-icon {
  background-color: rgba(var(--private-accentcolor),0.3) !important;
}

#main-window[privatebrowsingmode="temporary"] #tabs-newtab-button:active .toolbarbutton-icon {
  background-color: rgba(var(--private-accentcolor),0.9) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:hover > .toolbarbutton-icon
{
	background-color: rgba(var(--private-accentcolor),0.2) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:active > .toolbarbutton-icon
{
	background-color: rgba(var(--private-accentcolor),0.6) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:hover > .toolbarbutton-text {
	color: rgba(var(--private-accentcolor,0.7)) !important;
}

#main-window[privatebrowsingmode="temporary"] .bookmark-item:active > .toolbarbutton-text {
	color: rgba(var(--private-accentcolor,1)) !important;
}
#main-window[privatebrowsingmode="temporary"].tab-content {
	transition: color 0.3s ease !important;
}
#main-window[privatebrowsingmode="temporary"].tab-content:hover {
	color: rgba(var(--private-accentcolor),0.9) !important;
}
